@charset "utf-8";
/******************************************************
*   共通
******************************************************/

/******************************************************
*   プロパティ
******************************************************/
:root {
    /* 文字色 */
    --font-color: rgb(17, 17, 17);
    /* 文字サイズ */
    --font-size: 14px;
}

/******************************************************
*   body
******************************************************/
body {
    width: 100vw;
    height: 100vh;
    font-size: var(--font-size);
    font-family: "メイリオ" ;
    color: var(--font-color);
}