@charset "utf-8";
/******************************************************
*   共通
******************************************************/

/******************************************************
*   プロパティ
******************************************************/
:root {
    /* 文字色 */
    --font-color: rgb(17, 17, 17);
    /* 文字サイズ */
    --font-size: 14px;
    /* 背景色 */
    --bg-color: rgb(105, 58, 149);
    /* 入力項目背景色 */
    --input-bg-color: rgb(232, 240, 254);
    /* 入力項目線色 */
    --input-border-color: rgb(255, 189, 229);
    /* エラー項目に使用する色 */
    --error-color: tomato;
}

/******************************************************
*   body
******************************************************/
body {
    width: 100vw;
    height: 100vh;
    font-size: var(--font-size);
    font-family: "メイリオ" ;
    color: var(--font-color);
}

/******************************************************
*   input
******************************************************/
input {
    padding: 5px 10px;
}

.input-common {
    border: solid 1px var(--input-border-color);
    border-radius: 3px;
    background-color: var(--input-bg-color);
}

.input-common:focus {
    outline: none;
    border: solid 2px var(--input-border-color);
}

/******************************************************
*   input　下線のみが存在する入力項目
******************************************************/
.under-line-only {
    border-bottom: solid 1px var(--input-border-color);
}

.under-line-only:focus {
    outline: none;
    border-bottom: solid 2px var(--input-border-color);
}

/******************************************************
*   select
******************************************************/
select {
    padding: 5px 10px;
    padding-right: 30px;
    appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

.select-common {
    position: relative;
    width: fit-content;
}

.select-common > select {
    width: 100%;
    border: solid 1px var(--input-border-color);
    border-radius: 3px;
    background-color: var(--input-bg-color);
}

.select-common::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 10px;
    width: 0;
    border-top: 4.5px solid tomato;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.select-common > select:focus {
    outline: none;
    border: solid 2px var(--input-border-color);
}

/******************************************************
*   textarea
******************************************************/
textarea {
    padding: 5px 10px;
}

.textarea-common {
    border: solid 1px var(--input-border-color);
    border-radius: 3px;
    background-color: var(--input-bg-color);
}

.textarea-common:focus {
    outline: none;
    border: solid 2px var(--input-border-color);
}

/******************************************************
*   チェックボックス
******************************************************/
.checkbox-before {
    display: none;
}

.checkbox-before + label {
    position: relative;
    display: block;
    padding-left: 25px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkbox-before + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 19px;
    height: 19px;
    border: 1px solid var(--input-border-color);
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

.checkbox-before:checked + label:before {
    top: -5px;
    left: 5px;
    width: 10px;
    border-radius: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    opacity: 1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.checkbox-after {
    display: none;
}

.checkbox-after + label {
    position: relative;
    display: block;
    padding-right: 25px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkbox-after + label:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 19px;
    height: 19px;
    border: 1px solid var(--input-border-color);
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

.checkbox-after + label:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 19px;
    height: 19px;
    border: 1px solid var(--input-border-color);
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

.checkbox-after:checked + label:after {
    top: -5px;
    right: 3px;
    width: 8px;
    border-radius: 0;
    border-top-color: transparent;
    border-bottom: solid 3px var(--input-border-color);
    border-left-color: transparent;
    border-right: solid 3px var(--input-border-color);
    opacity: 1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/******************************************************
*   ボタン
******************************************************/
.button-common {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    color: white;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background-color: var(--input-border-color);
    outline: none;
    text-decoration: none;
    letter-spacing: 2px;
}

.button-common:hover
,.button-common:focus {
    color: var(--input-border-color);
    border-color: var(--input-border-color);
    background-color: white;
}

.button-common::before,
.button-common::after {
    content: '';
    position: absolute;
    display: block;
    z-index: -1;
}

.button-common,
.button-common::before,
.button-common::after {
    box-sizing: border-box;
    transition: all .3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: all .3s;
}

/******************************************************
*   ボタン（丸いボタン）
******************************************************/
.button-common.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding-left: 1px;
}

/******************************************************
*   ボタン（編集）
******************************************************/
.button-common.edit {
    border: 1px solid turquoise;
    background-color: turquoise;
}

.button-common.edit:hover
,.button-common.edit:focus {
    color: turquoise;
    border-color: turquoise;
    background-color: white;
}

/******************************************************
*   ボタン（削除）
******************************************************/
.button-common.delete {
    border: 1px solid tomato;
    background-color: tomato;
}

.button-common.delete:hover
,.button-common.delete:focus {
    color: tomato;
    border-color: tomato;
    background-color: white;
}

/******************************************************
*   a
******************************************************/
.link-common {
    color: rgb(0, 173, 255);
    text-decoration: underline;
    cursor: pointer;
}

.link-common:hover {
    font-weight: bold;
}

/******************************************************
*   検索条件
******************************************************/
.search-container {
    padding: 10px;
    width: 100%;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 0px grey;
}

.search-container .row {
    display: flex;
    flex-wrap: wrap;
}

.search-container .row.end {
    justify-content: flex-end;
}

.search-container .col {
    display: flex;
    align-items: center;
    margin: 5px;
}

/* ラベル */
.search-container .col > label {
    margin-right : 5px;
}

.search-container label {
    font-size: 12px;
    white-space: nowrap;
}

.search-container .label-mark {
    margin-right : 5px;
    width: 6px;
    height: 16px;
    background-color: var(--input-border-color);
}

/* 入力欄 */
.search-container input
,.search-container select {
    background-color: white;
}

/* 検索ボタン */
.search-container #search-btn {
    height: 28px;
    width: 100px;
}

/* 詳細条件 */
.search-container .detail-conditions-wrap {
    position: relative;
    padding: 10px;
}

/* 詳細条件開閉ボタン */
.search-container .detail-conditions-wrap .detail-conditions-btn {
    position: absolute;
    color: crimson;
    cursor: pointer;
}

.search-container .detail-conditions-wrap .detail-conditions-container {
    margin-top: 5px;
    margin-left: 17px;
    border-top: dotted 1px crimson;
    border-bottom: dotted 1px crimson;
    background-color: lavender;
    
}

/******************************************************
*   table
******************************************************/
.table-common-wrap {
    display: flex;
    flex-direction: column;
    padding: 0px 3px;
    height: 100%;
}

.table-common-wrap > .table-common-container {
    flex: 1;
    overflow: auto;
}

/* ヘッダー */
.table-common-wrap > header {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

/* ヘッダー 新規作成リンク */
.table-common-wrap > header .create-link i {
    margin-right: 5px;
}

/* フッター */
.table-common-wrap > footer {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

/* テーブル */
.table-common {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.table-common thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    color: palevioletred;
    background-color: white;
    border-bottom: 2px solid gray;
    z-index: 1;
}

.table-common thead th:first-child {
    border-left: 1px solid gainsboro;
}

.table-common thead th:last-child {
    border-right: 1px solid gainsboro;
}

.table-common thead tr th
,.table-common tbody tr td {
    padding: 5px;
}

.table-common thead tr th
,.table-common tbody tr td {
    height: 35px;
    vertical-align: middle;
}

.table-common tbody tr:nth-child(even) {
    background-color: #ebebeb;
}

/******************************************************
*   table td th
******************************************************/
td.center, th.center {
    text-align: center;
}

/* 〇ボタン */
.table-common .td-button-circle {
    width: 40px;
}

.table-common .td-button-circle a {
    display: flex;
    justify-content: center;
}

/* ユーザID */
.table-common .td-user-id {
    width: 100px;
}

/* ユーザ名 */
.table-common .td-user-name {
    width: 100px;
}

/* ユーザ 名前 */
.table-common .td-personal-name {
    width: 120px;
}

/* 部署/部門/グループ/役職 */
.table-common .td-affiliation
,.table-common .td-department
,.table-common .td-group
,.table-common .td-position {
    width: 150px;
}

/******************************************************
*   バリデーションエラー
******************************************************/
.valid-error-container {
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
}

.valid-error-container > ul > li {
    margin-bottom: 5px;
}

.valid-error-container > ul > li:last-child {
    margin-bottom: 0px;
}

/******************************************************
*   入力エラー
******************************************************/
.input-error {
    display: none;
    color: var(--error-color);
}

.input-error i {
    margin-right: 5px;
}